<script src="/javascripts/addressValidation.js"></script>


<div class="container userinfocontainer">
    <div class="container rounded bg-white mt-5 mb-5">
        <div class="row">
            <div class="col-md-3 border-right">
                <div class="d-flex flex-column align-items-center text-center p-3 py-5">
                    <img class="rounded-circle mt-5" width="150px"
                        src="https://st3.depositphotos.com/15648834/17930/v/600/depositphotos_179308454-stock-illustration-unknown-person-silhouette-glasses-profile.jpg">
                    <span class="font-weight-bold">{{userInfo.Fname}} {{userInfo.Lname}}</span>
                    <span class="text-black-50">{{userInfo.email}}</span>
                    <span> </span>
                </div>
                <div class="col col-md-12 ">
                    <div class="accordion accordion-flush" id="accordionFlushExample">
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="flush-headingOne">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#flush-collapseOne" aria-expanded="false"
                                    aria-controls="flush-collapseOne">
                                    Account Settings
                                </button>
                            </h2>
                            <div id="flush-collapseOne" class="accordion-collapse collapse"
                                aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                                <div class="accordion-body">
                                    <div class="w-100">
                                        <a id="usermenuitems" class="btn" href="/userinfo">
                                            Profile Information
                                        </a>
                                    </div>
                                    <div class="w-100 mt-1">
                                        <a id="usermenuitems" class="btn" href="/manage-address">
                                            Manage Address
                                        </a>
                                    </div>
                                    
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="flush-headingTwo">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#flush-collapseTwo" aria-expanded="false"
                                    aria-controls="flush-collapseTwo">
                                    My List
                                </button>
                            </h2>
                            <div id="flush-collapseTwo" class="accordion-collapse collapse"
                                aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
                                <div class="accordion-body">
                                    <div class="w-100">
                                        <a id="usermenuitems" class="btn" href="/my-orders">
                                            My Orders
                                        </a>
                                    </div>
                                    <div class="w-100 mt-1">
                                        <a id="usermenuitems" class="btn" href="/my-coupons">
                                            My Coupons
                                        </a>
                                    </div>
                                    <div class="w-100 mt-1">
                                        <a id="usermenuitems" class="btn" href="/my-wallet">
                                            My wallet
                                        </a>
                                    </div>
                                    <div class="w-100 mt-1">
                                        <a id="usermenuitems" class="btn" href="/my-wishlist">
                                            My Wishlist
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <a class="btn mt-2" onclick="logOutConfirm('{{userInfo._id}}')">
                            Logout
                        </a>
                    </div>
                </div>
            </div>
            {{!-- address form --}}

            <div class="col-md-9 border-right">
                <div class="d-flex justify-content-between align-items-center mb-5">
                    <h4 class="text-right">Manage Address</h4>
                </div>

                <div class="accordion-item border rounded-2  mt-3">
                    <h2 class="accordion-header" id="flush-headingOne">
                        <h3 class="accordion-button collapsed mt-2 p-1 border border-0 " type="button"
                            data-bs-toggle="collapse" data-bs-target="#flush-collapseOneM" aria-expanded="false"
                            aria-controls="flush-collapseOne">
                            Add Address
                        </h3>
                    </h2>
                    <div id="flush-collapseOneM" class="accordion-collapse collapse" aria-labelledby="flush-headingOne"
                        data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body">
                            <form method="post" action="/manage-address">
                                <div class="p-3 py-5">
                                    <div class="d-flex justify-content-between align-items-center mb-3">
                                        <h4 class="text-right">Add New Address</h4>
                                    </div>
                                    <div class="row mt-2">
                                        <div class="col-md-6">
                                            <label class="labels">Name : <span id="firstNameErr"
                                                    class="text-danger"></span></label>
                                            <input name="Fname" type="text" class="form-control" id="firstName"
                                                onkeyup="checkFirstName()" placeholder="first name" value="">
                                        </div>
                                        <div class="col-md-6">
                                            <label class="labels">Surname : <span id="surNameErr"
                                                    class="text-danger"></span></label>
                                            <input name="Lname" type="text" class="form-control" value="" id="surName"
                                                onkeyup="checkSurName()" placeholder="surname">
                                        </div>
                                    </div>
                                    <div class="row mt-3">
                                        <div class="col-md-12">
                                            <label class="labels">Mobile Number : <span id="mobNumberErr"
                                                    class="text-danger"></span></label>
                                            <input name="Mnumber" type="text" class="form-control"
                                                onkeyup="checkMobileNo()" placeholder="enter phone number" value=""
                                                id="mobNumber">
                                        </div>
                                        <div class="col-md-12">
                                            <label class="labels">Address Line 1 : <span id="lineOneErr"
                                                    class="text-danger"></span></label>
                                            <input name="address1" type="text" class="form-control" id="lineOne"
                                                onkeyup="checkAddressOne()" placeholder="enter address line 1" value="">
                                        </div>
                                        <div class="col-md-12">
                                            <label class="labels">Address Line 2 : <span id="lineTwoErr"
                                                    class="text-danger"></span> </label>
                                            <input name="address2" type="text" class="form-control" id="lineTwo"
                                                onkeyup="checkAddressTwo()" placeholder="enter address line 2" value="">
                                        </div>
                                        <div class="row ">
                                            <div class="col-md-6">
                                                <label class="labels">Postcode : <span id="pinCodeErr"
                                                        class="text-danger"></span></label>
                                                <input name="Pcode" type="text" class="form-control" onkeyup="pinCode()"
                                                    placeholder="enter pin code" id="pin">
                                            </div>
                                            <div class="col-md-6">
                                                <label class="labels">Post Office : <span id="postOfficeErr"
                                                        class="text-danger"></span></label>
                                                <input name="Poffice" type="text" class="form-control" id="postOffice"
                                                    onkeyup="checkPostOffice()" placeholder="enter post office"
                                                    value="">
                                            </div>
                                        </div>

                                        <div class="col-md-12">
                                            <label class="labels">Area :<span id="areaErr"
                                                    class="text-danger"></span></label>
                                            <input name="area" type="text" class="form-control" placeholder="enter area"
                                                onkeyup="checkAreaName()" value="" id="area">
                                        </div>
                                        <div class="col-md-12">
                                            <label class="labels">Email ID :<span id="emailErr"
                                                    class="text-danger"></span></label>
                                            <input name="email" type="text" class="form-control"
                                                onkeyup="addressCheckEmail()" placeholder="enter email id" id="emailId">
                                        </div>

                                    </div>
                                    <div class="row mt-3">
                                        <div class="col-md-6">
                                            <label class="labels">Country : <span id="countryErr"
                                                    class="text-danger"></span></label>
                                            <input name="country" type="text" class="form-control" placeholder="country"
                                                id="country" onkeyup="checkCountry()" value="">
                                        </div>
                                        <div class="col-md-6">
                                            <label class="labels">State/Region :<span id="stateErr"
                                                    class="text-danger"></span></label>
                                            <input name="state" type="text" class="form-control" id="stateName"
                                                onkeyup="checkState()" placeholder="state">
                                        </div>
                                        <div class="row mt-3">
                                            <label class="labels">Address Type</label>
                                            <div class="form-check form-check-inline col-2">
                                                <input checked class="form-check-input" type="radio"
                                                    name="inlineRadioOptions" id="inlineRadio1" value="Home" required>
                                                <label class="form-check-label" for="inlineRadio1">Home</label>
                                            </div>
                                            <div class="form-check form-check-inline col-2">
                                                <input class="form-check-input" type="radio" name="inlineRadioOptions"
                                                    id="inlineRadio2" value="Work" required>
                                                <label class="form-check-label" for="inlineRadio2">Work</label>
                                            </div>
                                        </div>



                                    </div>
                                    <div class="mt-5 text-center">
                                        <span id="addressSubmitErr" class="text-danger"></span>
                                        <button onclick="return addressSubmitCheck()"
                                            class="btn btn-secondary profile-button w-100" type="submit">
                                            Save Address</button>
                                    </div>
                                </div>
                            </form>


                        </div>
                    </div>
                </div>
                {{#each address}}
                <div class="card mt-5 border">
                    <div class="card-header">
                        {{addressType}}
                    </div>
                    <div class="card-body row">
                        <div class="col">
                            <h5 class="card-title">{{Fname}} {{Lname}}</h5>
                            <p class="">{{address1}}</p>
                            <p class="">{{address2}}</p>
                            <p class="">{{Pcode}}</p>
                        </div>
                        <div class="col d-flex justify-content-end">
                            <a style="height:45px ;" class="btn " onclick="deleteConfirm('{{_id}}')">
                                <img style="width: 25px;" src="/images/icons/delete.png">
                            </a>
                        </div>

                    </div>
                </div>
                {{/each}}

            </div>
        </div>
    </div>
</div>
</div>
</div>


<script>
    function deleteConfirm(id) {
        swal({
            title: "Are you sure?",
            text: "Once deleted, you will not be able to recover this data!",
            icon: "warning",
            buttons: true,
            dangerMode: true,
        })
            .then(async (willDelete) => {
                if (willDelete) {
                    await swal("Requested address details has been deleted!", {
                        icon: "success",
                    });
                    deleteAddress(id)
                } else {
                    swal("Deletion aborted!");
                }
            });
    }

    function deleteAddress(id) {
        $.ajax({
            url: '/delete-address/' + id,
            type: 'get',
            success: (response) => {
                if (response.status) {
                    location.reload()
                }
            }
        })
    }
</script>