<script src="/javascripts/addressValidation.js"></script>


<div class="container mt-4 p-0">
    <div class="row px-md-4 px-2 pt-4">
        <div class="col-lg-8">
            <p class="pb-2 fw-bold">Order</p>
            <div class="card">
                <div>
                    <div class="table-responsive px-md-4 px-2 pt-3">
                        <table class="table table-borderless">
                            <tbody>
                                {{#each cartItems}}
                                <tr class="border-bottom">
                                    <td>
                                        <div class="d-flex align-items-center">
                                            <div>
                                                <img class="pic" style="width:80px ;"
                                                    src="{{cartProduct.images.image1}}" alt="" />
                                            </div>
                                            <div class="ps-3 d-flex flex-column justify-content">
                                                <h5 class="mb-0">
                                                    <a href="#"
                                                        class="text-dark d-inline-block align-middle">{{cartProduct.Pname}}</a>
                                                </h5>
                                                <span
                                                    class="text-muted font-weight-normal font-italic d-block">Category:
                                                    {{cartProduct.Category}}</span>
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="d-flex">
                                            <strong>{{cartProduct.Price}}&#8377</strong>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="d-flex align-items-center">
                                            <span class="pe-3 text-muted">Quantity</span>
                                            <span class="pe-3"> {{quantity}}</span>

                                        </div>
                                    </td>
                                    <td>
                                        <div class="d-flex">
                                            <strong>{{multiply cartProduct.Price quantity}}&#8377</strong>
                                        </div>
                                    </td>
                                </tr>
                                {{/each}}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-4 payment-summary">
            <p class="fw-bold pt-lg-0 pt-4 pb-2">Payment Summary</p>
            <div class="card px-md-3 px-2 pt-4">
                <div class="unregistered mb-2">
                    <span class="py-1">Order Summary</span>
                </div>


                <div class="d-flex flex-column b-bottom">
                    <div class="d-flex justify-content-between py-3">
                        <small class="text-muted">Items Price</small>
                        <p>{{subTotal}}</p>
                    </div>
                    <div class="d-flex justify-content-between pb-3">
                        <small class="text-muted">Tax</small>
                        <p>{{tax}}</p>
                    </div>
                    <div class="d-flex justify-content-between pb-3">
                        <small class="text-muted">Shipping Charge</small>
                        <p>40</p>
                    </div>
                    {{#if discount}}
                    <div class="d-flex justify-content-between pb-3">
                        <small class="text-muted">Offer applied</small>
                        <p>-{{discount}}</p>
                    </div>
                    {{/if}}
                    <div class="d-flex justify-content-between">
                        <small class="text-muted">Total Amount</small>
                        <p>{{total}}&#8377</p>
                    </div>
                </div>

            </div>
        </div>


        <div>
            <!-- Button trigger modal -->
            <button type="button" style="background-color: rgb(172, 172, 172) ;" class="btn w-25" data-bs-toggle="modal"
                data-bs-target="#exampleModal">
                <i class="fa fa-plus" style="color: black;"></i> New Address
            </button>

            <!-- Modal -->
            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                aria-hidden="true">
                <div class="modal-dialog ">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" id="exampleModalLabel">Add New Address</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <form id="newAddress" action="/addNewAddress">
                                <div class="p-3 ">
                                    <div class="row mt-2">
                                        <div class="col-md-6">
                                            <label class="labels">Name : <span id="firstNameErr"
                                                    class="text-danger"></span></label>
                                            <input name="Fname" type="text" class="form-control" id="firstName"
                                                onkeyup="checkFirstName()" placeholder="first name" value="">
                                        </div>
                                        <div class="col-md-6">
                                            <label class="labels">Surname : <span id="surNameErr"
                                                    class="text-danger"></span></label>
                                            <input name="Lname" type="text" class="form-control" value="" id="surName"
                                                onkeyup="checkSurName()" placeholder="surname">
                                        </div>
                                    </div>
                                    <div class="row mt-3">
                                        <div class="col-md-12">
                                            <label class="labels">Mobile Number : <span id="mobNumberErr"
                                                    class="text-danger"></span></label>
                                            <input name="Mnumber" type="text" class="form-control"
                                                onkeyup="checkMobileNo()" placeholder="enter phone number" value=""
                                                id="mobNumber">
                                        </div>
                                        <div class="col-md-12">
                                            <label class="labels">Address Line 1 : <span id="lineOneErr"
                                                    class="text-danger"></span></label>
                                            <input name="address1" type="text" class="form-control" id="lineOne"
                                                onkeyup="checkAddressOne()" placeholder="enter address line 1" value="">
                                        </div>
                                        <div class="col-md-12">
                                            <label class="labels">Address Line 2 : <span id="lineTwoErr"
                                                    class="text-danger"></span> </label>
                                            <input name="address2" type="text" class="form-control" id="lineTwo"
                                                onkeyup="checkAddressTwo()" placeholder="enter address line 2" value="">
                                        </div>
                                        <div class="row ">
                                            <div class="col-md-6">
                                                <label class="labels">Postcode : <span id="pinCodeErr"
                                                        class="text-danger"></span></label>
                                                <input name="Pcode" type="text" class="form-control" onkeyup="pinCode()"
                                                    placeholder="enter pin code" id="pin">
                                            </div>
                                            <div class="col-md-6">
                                                <label class="labels">Post Office : <span id="postOfficeErr"
                                                        class="text-danger"></span></label>
                                                <input name="Poffice" type="text" class="form-control" id="postOffice"
                                                    onkeyup="checkPostOffice()" placeholder="enter post office"
                                                    value="">
                                            </div>
                                        </div>

                                        <div class="col-md-12">
                                            <label class="labels">Area :<span id="areaErr"
                                                    class="text-danger"></span></label>
                                            <input name="area" type="text" class="form-control" placeholder="enter area"
                                                onkeyup="checkAreaName()" value="" id="area">
                                        </div>
                                        <div class="col-md-12">
                                            <label class="labels">Email ID :<span id="emailErr"
                                                    class="text-danger"></span></label>
                                            <input name="email" type="text" class="form-control"
                                                onkeyup="addressCheckEmail()" placeholder="enter email id" id="emailId">
                                        </div>

                                    </div>
                                    <div class="row mt-3">
                                        <div class="col-md-6">
                                            <label class="labels">Country : <span id="countryErr"
                                                    class="text-danger"></span></label>
                                            <input name="country" type="text" class="form-control" placeholder="country"
                                                id="country" onkeyup="checkCountry()" value="">
                                        </div>
                                        <div class="col-md-6">
                                            <label class="labels">State/Region :<span id="stateErr"
                                                    class="text-danger"></span></label>
                                            <input name="state" type="text" class="form-control" id="stateName"
                                                onkeyup="checkState()" placeholder="state">
                                        </div>
                                        <div class="row mt-3">
                                            <label class="labels">Address Type</label>
                                            <div class="form-check form-check-inline col-2">
                                                <input checked class="form-check-input" type="radio"
                                                    name="inlineRadioOptions" id="inlineRadio1" value="Home" required>
                                                <label class="form-check-label" for="inlineRadio1">Home</label>
                                            </div>
                                            <div class="form-check form-check-inline col-2">
                                                <input class="form-check-input" type="radio" name="inlineRadioOptions"
                                                    id="inlineRadio2" value="Work" required>
                                                <label class="form-check-label" for="inlineRadio2">Work</label>
                                            </div>
                                        </div>



                                    </div>
                                    <div class="mt-5 text-center">
                                        <span id="addressSubmitErr" class="text-danger"></span>
                                        <button onclick="return addressSubmitCheck()"
                                            class="btn btn-secondary profile-button w-100" type="submit">
                                            Save Address</button>
                                    </div>
                                </div>
                            </form>
                        </div>

                    </div>
                </div>
            </div>
        </div>


        <form id="checkout-form" class="container row">
            <div class="col-lg-8 ">
                <p class="pt-4 fw-bold pb-3 ps-2">Delivery</p>
                <div class="row">

                    <div class="row">

                        {{#each address}}

                        <div class="card col-6 p-1 ">
                            <div class="card-header">
                                <label class="option ">
                                    <input class="form-check-input" type="radio" name="addressId" value="{{_id}}"
                                        id="addressId" required />
                                    <span class="checkmark"></span>
                                    {{addressType}}
                            </div>
                            <div class="card-body row">
                                <div class="col">
                                    <h5 class="card-title">{{Fname}} {{Lname}}</h5>
                                    <p class="">{{address1}}</p>
                                    <p class="">{{address2}}</p>
                                    <p class="">{{Pcode}}</p>
                                </div>

                            </div>
                        </div>

                        </label>
                        {{/each}}
                    </div>

                </div>

            </div>
            <div class="col-lg-4">
                <p class="pt-4 fw-bold pb-3">Choose Payment Method</p>

                <div class="form-check">
                    <input value="online payment" class="form-check-input" type="radio" name="flexRadioDefault"
                        id="flexRadioDefault1" required>
                    <label class="form-check-label w-100" for="flexRadioDefault1">
                        <div class="card p-1 mb-1">
                            <div class="d-flex align-items-center justify-content-between">
                                <div>
                                    <p class="fw-bold">Net Banking</p>

                                </div>

                            </div>
                        </div>
                    </label>
                </div>
                <div class="form-check">
                    <input value="COD" class="form-check-input" type="radio" name="flexRadioDefault"
                        id="flexRadioDefault1" required>
                    <label class="form-check-label w-100" for="flexRadioDefault1">
                        <div class="card p-1 mb-1">
                            <div class="d-flex align-items-center justify-content-between">
                                <div>
                                    <p class="fw-bold">Cash On Delivery</p>

                                </div>

                            </div>
                        </div>
                    </label>
                </div>
                <div class="form-check">
                    <input value="wallet" class="form-check-input" type="radio" name="flexRadioDefault"
                        id="flexRadioDefault1" required>
                    <label class="form-check-label w-100" for="flexRadioDefault1">
                        <div class="card p-1 mb-1">
                            <div class="d-flex align-items-center justify-content-between">
                                <div>
                                    <p class="fw-bold">Wallet Payment</p>

                                </div>

                            </div>
                        </div>
                    </label>
                </div>
            </div>
            <div class="d-flex justify-content-end px-md-4 px-2 pt-4">
                <button class="btn btn-dark rounded-pill">
                    Confirm Order
                </button>
            </div>
        </form>

    </div>
</div>

<script src="https://checkout.razorpay.com/v1/checkout.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script>
    $("#checkout-form").submit((e) => {
        e.preventDefault();
        $.ajax({
            method: 'post',
            url: ('/proceed-to-checkout'),
            data: $('#checkout-form').serialize(),
            success: async (response) => {
                console.log(response)
                switch (response.status) {
                    case 'COD':
                        await Swal.fire({
                            position: 'top-end',
                            icon: 'success',
                            title: 'Your order has been placed',
                            showConfirmButton: false,
                            timer: 1500
                        })
                        location.href = '/order-placed'
                        break;
                    case 'online':
                        razorPayment(response.razorOrder)
                        break;
                    case 'wallet':
                        response.walletNotEnough ? walletPayment(response.walletNotEnough) : location.href = '/order-placed'
                        break;
                    case 'blocked':
                        await Swal.fire({
                            position: 'top-end',
                            title: 'Your account has been blocked',
                            showConfirmButton: true,
                            
                        })
                        location.href = '/logout'
                        break;
                }
            },
            error: (response, stat, err) => {
                console.log(response);
            }

        })
    })
    function razorPayment(order) {
        var options = {
            "key": "rzp_test_2Nt8hWDvPKHDDI", // Enter the Key ID generated from the Dashboard
            "amount": order.amount, // Amount is in currency subunits. Default currency is INR. Hence, 50000 refers to 50000 paise
            "currency": "INR",
            "name": "Christmas Boutique", //your business name
            "description": "Test Transaction",
            "image": "https://example.com/your_logo",
            "order_id": order.id, //This is a sample Order ID. Pass the `id` obtained in the response of Step 1
            "handler": function (response) {

                verifyPayment(response, order)
            },
            "prefill": {
                "name": "Gaurav Kumar", //your customer's name
                "email": "gaurav.kumar@example.com",
                "contact": "9000090000"
            },
            "notes": {
                "address": "Razorpay Corporate Office"
            },
            "theme": {
                "color": "#3399cc"
            }
        };
        var rzp1 = new Razorpay(options);
        rzp1.open();
    }
    function verifyPayment(payment, order) {
        console.log(payment, order)
        $.ajax({
            url: ('/verify-payment'),
            type: 'post',
            data: { payment, order },
            success: async (response) => {
                if (response.status) {
                    await Swal.fire(
                        'Your Order Is Placed!',
                        'Check your orders for order details',
                        'success'
                    )
                    location.href = '/order-placed'
                } else {
                    alert("failed")
                }
            }
        })
    }
    function walletPayment(insufficient) {
        if (insufficient) {
            Swal.fire({
                icon: 'error',
                title: 'Oops...',
                text: 'Your wallet balance is insufficient...!',
                footer: '<a href="/my-wallet">Check your wallet.?</a>'
            })
        }
    }

</script>

<script src="userJs/jquery-3.3.1.min.js"></script>
<script src="userJs/bootstrap.min.js"></script>
<script src="userJs/jquery.nice-select.min.js"></script>
<script src="userJs/jquery.nicescroll.min.js"></script>
<script src="userJs/jquery.magnific-popup.min.js"></script>
<script src="userJs/jquery.countdown.min.js"></script>
<script src="userJs/jquery.slicknav.js"></script>
<script src="userJs/mixitup.min.js"></script>
<script src="userJs/owl.carousel.min.js"></script>
<script src="userJs/main.js"></script>