<script src="/tableSetter/js/jquery.js"></script>
<script src="/tableSetter/media/js/jquery.dataTables.min.js"></script>
<script>
  $(document).ready(function () {
    $('#productTable').dataTable()
  })
</script>


{{!-- admin side pages --}}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="/adminCss/style.css">




<div class=" d-flex align-items-stretch  ">
  <nav style="background-color: rgb(255, 255, 255);" id="sidebar" class="sidebar">
    <div class="custom-menu">
      <button type="button" id="sidebarCollapse" class="btn btn-dark">
        <i class="fa fa-bars"></i>
        <span class="sr-only">Toggle Menu</span>
      </button>
    </div>
    <div class="p-4 pt-5">
      <div class="col-12 pe-2 ps-2">
        <div class="row border border-2 rounded-3 mb-2">
          <p style="color: black;" class="m-0 mt-2">
            Hello..
          </p>
          <h5 class="m-0">
            admin
          </h5>
        </div>
      </div>
      <ul class="list-unstyled components mb-5">
        <li class="active">
          <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Home</a>
          <ul class="collapse list-unstyled" id="homeSubmenu">
            <li>
              <a href="#">Home 1</a>
            </li>
            <li>
              <a href="#">Home 2</a>
            </li>
            <li>
              <a href="#">Home 3</a>
            </li>
          </ul>
        </li>
        <li>
          <a style="color: black;" href="/admin">
            <i class="fa fa-clipboard " style="color: rgb(0, 0, 0);  margin-right: 5px;" aria-hidden="true"></i>
            Dashboard
          </a>
        </li>
        <li>
          <a style="color: black;" href="/admin/viewusers">
            <i class="fa fa-users " style="color: rgb(0, 0, 0); margin-right: 5px;" aria-hidden="true"></i>
            View Users
          </a>
        </li>
        <li>
          <a style="color: black;" href="/admin/viewproducts">
            <i class="fa fa-shopping-bag" style="color: rgb(0, 0, 0);  margin-right: 5px;" aria-hidden="true"></i>
            View Products
          </a>
        </li>
        <li>
          <a style="color: black;" href="/admin/category">
            <i class="fa fa-list-alt" style="color: rgb(0, 0, 0);  margin-right: 5px;" aria-hidden="true"></i>
            Category Management
          </a>
        </li>
        <li>
          <a style="color: black;" href="/admin/orders">
            <i class="fas fa-shipping-fast" style="color: rgb(0, 0, 0);  margin-right: 5px;" aria-hidden="true"></i>
            Order Management
          </a>
        </li>
        <li>
          <a style="color: black;" href="/admin/order-return-requests">
            <i class="fa fa-undo" style="color: rgb(0, 0, 0);  margin-right: 5px;" aria-hidden="true"></i>
            Order Return Requests
          </a>
        </li>
        <li>
          <a style="color: black;" href="/admin/refund-requests">
            <i class=" fas fa-hand-holding-usd" style="color: rgb(0, 0, 0);  margin-right: 5px;" aria-hidden="true"></i>
            Refund Requests
          </a>
        </li>
        <li>
          <a style="color: black;" href="#pageSubmenu" data-toggle="collapse" aria-expanded="false"
            class="dropdown-toggle">
            <i class="fa fa-gift" style="color: rgb(0, 0, 0);  margin-right: 5px;" aria-hidden="true"></i>
            Offer Management</a>
          <ul class="collapse list-unstyled" id="pageSubmenu">
            <li>
              <a style="color: black;" href="/admin/coupons">
                Coupon Management
              </a>
            </li>
            <li  style="background-color: rgb(247, 240, 230);" class="rounded-1 ps-1">
              <a style="color: black;" href="/admin/add-product-offer">
                Product Offer Management
              </a>
            </li>
            <li>
              <a style="color: black;" href="/admin/category-offers">
                Category Offer Management
              </a>
            </li>
          </ul>
        </li>
        <li>
          <a style="color: black;">
            <i class="fa fa-gear" style="color: rgb(0, 0, 0);  margin-right: 5px;" aria-hidden="true"></i>
            Profile Setting
          </a>
        </li>
        <li>
         <a onclick="logoutConfirm()" style="color: black; cursor: pointer;">
                        <i class="fa fa-sign-out" style="color: rgb(0, 0, 0);  margin-right: 5px;"
                            aria-hidden="true"></i>
                        Logout</a>
        </li>
      </ul>

    </div>
  </nav>

  <!-- Page Content  -->
  <div id="content" class="p-4 p-md-5 pt-5">
    <div class="container mb-3">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb__text">
                        <div class="breadcrumb__links">
                            <a style="color: black;" href="/admin/coupons">/Offer management</a>
                            <a style="color: black;" href="/admin/add-product-offer">/Product offer management</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    <div class="d-flex justify-content-center mt-3">
      <h3 style="font-family:Times New Roman, Times, serif; font-style: italic;">
        Product Offer Management
      </h3>
    </div>
    {{! product offer }}
    <div class="col-12 ">
      <h4>
        Product offer
      </h4>
      <form  id="productOffer" class="bg-white p-4 rounded-4">
        <div class="form-group px-3">
          <div class="d-flex justify-content-between row">
            <label for="selectedPro">Select Product:</label>
            <select name="product" class="form-select w-50" id="selectedPro" aria-label="Floating label select example">
              {{#each products}}
              <option value="{{_id}}">{{Pname}}</option>
              {{/each}}
            </select>
            <button class="btn btn-sm btn-success w-25">Create offer</button>
          </div>
        </div>
        <div class="form-group d-flex justify-content-between row px-1">
          <div class="w-50">
            <label for="offerType">Offer Type:</label>
            <input type="text" id="offerType" class="form-control border" name="offerType" />
          </div>
          <div class="w-50">
            <label for="discount">Discount:</label>
            <input type="text" id="discount" class="form-control border" name="discount" />
          </div>
        </div>
        <div class="form-group d-flex justify-content-between row px-1 pb-2">
          <div class="w-50">
            <label for="start_date">Start Date:</label>
            <input type="date" id="start_date" class="form-control border" name="startDate" />
          </div>
          <div class="w-50">
            <label for="expiry_date">Expiry Date:</label>
            <input type="date" id="expiry_date" class="form-control border" name="expiryDate" />
          </div>
        </div>
      </form>
    </div>

    {{!-- offer applied products table --}}
    <div class="col-12 mt-5">
      <h4>Offer applied products</h4>
      <div class="bg-white p-4 rounded-4">
        <table id="productTable" class="table no-wrap">
          <thead>
            <tr>
              <th class="border-top-0">Product name</th>
              <th class="border-top-0">Actual price</th>
              <th class="border-top-0">Discount amount</th>
              <th class="border-top-0">Offer applied date</th>
              <th class="border-top-0"></th>
            </tr>
          </thead>
          <tbody>
            {{#each offeredProducts}}
            <tr>
              <td class="txt-oflo">{{Pname}}</td>
              <td>{{Price}}</td>
              <td class="txt-oflo">{{discountPrice}} </td>
              <td>{{paymentMethod}}</td>
              <td><span class="text-success"><button onclick="confirmRemove('{{_id}}')"
                    class="btn btn-danger rounded-pill">
                    Remove offer
                  </button></span>
              </td>
            </tr>
            {{/each}}
          </tbody>
        </table>
      </div>

    </div>

  </div>
</div>


<script src="/adminJs/popper.js"></script>
<script src="/adminJs/bootstrap.min.js"></script>
<script src="/adminJs/main.js"></script>

<script>
   $('#productOffer').submit((e) => {
    e.preventDefault()
    $.ajax({
      type: 'POST',
      url: ('/admin/product-offer-create'),
      data: $('#productOffer').serialize(),
      success:
        (response) => {
          if (response.status) {
           swal("Successfully Added Product Offer", "you can see the details below", "success").then(()=>{

            location.reload()
           })
          }
        },
      error:
        (response, stat, err) => {
          if (err) console.log(response)
        }
    })
  })
  function confirmRemove(id) {
    swal("Are you sure you want to remove this?", {
      buttons: ["NO", "YES"],
    }).then((value)=>{
      if (value) {
        removeOffer(id)
      }
    } )
  }

  function removeOffer(id){
    $.ajax({
      url:'/admin/remove-product-offer/'+id,
      type:'get',
      success:(response)=>{
        if(response){
          location.reload()
        }
      }
    })
  }
</script>